:root{
    --bg: #181820;
    --header: #262628;
    --theme: #89FF8D;
    --theme-light: #ADFFAF;
    --theme-dark: #3a543b;
    --theme-secondary: #8F42EC;
    --text: #F4FAF4;
    --text-dark: #cfd4cfc5;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
  }
  